/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('fan.jpg') no-repeat center center fixed; 
    background-size: cover; 
}

#registration-form-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

#registration-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto;
    box-sizing: border-box; 
}

#registration-form label {
    display: block;
    margin-bottom: 10px;
}

#registration-form input[type="text"],
#registration-form input[type="password"],
#registration-form textarea,
#registration-form select,
#registration-form button {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #16537e;
    border-radius: 5px;
    box-sizing: border-box;
}

#registration-form button {
    background-color: #333;
    color: white;
    cursor: pointer;
}

fieldset {
    font-size: 20px;
    text-align: left;
    padding: 4px; /* Adjusted padding */
    margin: 0;
    border: none;
}

.features-t {
    color: #000000;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.user-info {
    color: #000000; 
    font-size: 24px;
}

.error-message {
    color: #ffffff; 
    text-align: center; 
    margin-top: 20px;
}

/* Навигационное меню */
.navbar {
    color: #000000;
    padding: 10px 0;
}

.navbar-brand {
    float: left;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 7px;
    font-size: 25px;
    white-space: nowrap; 
}

.nav {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    align-items: flex-end; 
}


.btn {
    background-color: #1c1c1cd2;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button {
    display: inline-block;
    padding: 10px 20px; /* Размеры отступов внутри кнопки */
    background-color: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border: none; /* Убираем границы */
    border-radius: 5px; /* Закругляем углы */
    text-align: center; /* Выравнивание текста по центру */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Задаем курсор указателя */
}


/* Заголовок */
.jumbotron {
    padding: 100px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 36px;
    color: #ffffff;
}

.jumbotron p {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
}

/* Блог */
/* Общий стиль блога */
.blog {
    padding: 80px 0;
}

/* Заголовок блога */
.blog h2 {
    text-align: center;
    font-size: 50px; /* Увеличили размер шрифта */
    margin-bottom: 60px; /* Увеличили отступ снизу */
    color: #ffffff; /* Цвет текста */
}

/* Контейнер для постов блога */
.blog-posts {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Изменили выравнивание по вертикали */
    flex-wrap: wrap;
}

/* Карточка поста блога */
.blog-post {
    margin: 20px;
    max-width: 400px;
    background-color: #fff; /* Цвет фона */
    border-radius: 8px; /* Закруглили углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавили тень */

}

/* Видео внутри поста блога */
.blog-post iframe {
    width: 100%; /* Сделали видео растягивающимся на всю ширину карточки */
    height: 250px; /* Уменьшили высоту видео */
    border: none; /* Убрали границу */
}

/* Информация о посте блога */
.blog-post-info {
    padding: 20px;
}

/* Заголовок поста блога */
.blog-post-info h3 {
    font-size: 20px; /* Уменьшили размер заголовка */
    margin-bottom: 10px;
    color: #333; /* Цвет текста */
}

/* Текст поста блога */
.blog-post-info p {
    font-size: 16px;
    color: #666; /* Цвет текста */
}


/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer span {
    font-size: 14px;
}

/* Респонсивные стили */
@media screen and (max-width: 768px) {
    .nav {
        float: none;
        text-align: center;
        margin-top: 20px;
    }
    
    .nav a {
        display: block;
        margin: 10px 0;
    }
    
    .jumbotron h1 {
        font-size: 28px;
    }
    
    .jumbotron p {
        font-size: 16px;
    }
}
